@scope (.combo-box) {

    :scope {
        background-color: var(--bs-body-bg);
        position: relative;
        border-radius: var(--bs-border-radius);
        border: var(--bs-border-width) solid var(--bs-border-color);
    }

    :scope:focus-within {
        border-color: var(--primary);
        box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--primary) 25%, transparent);
    }

    &.readonly:scope {
        background-color: transparent;
    }

    &.readonly {
        border: var(--bs-border-width) solid transparent;

        input {
            background-color: transparent;
        }

        >div .controls {
            display: none;
        }
    }

    .single-item {
        position: absolute;
    }

    >div {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .body {
        padding-left: var(--input-padding-h);
        display: flex;
        gap: 0.75rem;
        align-items: center;
        flex-wrap: wrap;
        flex-grow: 1;
    }

    input {
        padding: var(--input-padding-v) var(--input-padding-h) var(--input-padding-v) 0;
        border: none;
        z-index: 10;
        background-color: transparent;
        flex: 1 1 100px;

        &:focus {
            outline: none;
        }
    }

    ol {
        max-height: 20vh;
        overflow-y: auto;
        border-radius: var(--bs-border-radius);
        border: var(--bs-border-width) solid var(--bs-border-color);
        list-style: none;
        padding: 10px 0;
        margin: 3px 0 0;
        background-color: var(--bs-body-bg);
        position: absolute;
        z-index: 100;
        width: 100%;
        border-radius: 5px;

        li {
            padding: 10px 10px;
            cursor: pointer;

            &:hover {
                background-color: var(--hover);
            }
        }
    }

    .controls {
        display: flex;
        align-items: center;
        justify-self: flex-end;

        div {
            margin: var(--input-padding-v) 0;
            padding: 0 var(--input-padding-h);
        }

        &.clearable div:last-child {
            border-left: var(--bs-border-width) solid var(--bs-body-color);
        }
    }

    .cb-arrow {
        line-height: 24px;
        height: 100%;
    }
}