@scope (.combo-box) {

    :scope {
        background-color: var(--bs-body-bg);
        position: relative;
        border-radius: var(--bs-border-radius);
        border: var(--bs-border-width) solid var(--bs-border-color);
    }

    &.readonly:scope {
        background-color: transparent;
    }

    &.readonly {
        border: var(--bs-border-width) solid transparent;

        input {
            background-color: transparent;
        }

        >div .controls {
            display: none;
        }
    }

    .single-item {
        position: absolute;
    }

    >div {
        padding-left: var(--input-padding-h);
        display: flex;
        gap: 0.75rem;
        align-items: center;
    }

    input {
        padding: var(--input-padding-v) var(--input-padding-h) var(--input-padding-v) 0;
        border: none;
        width: 100%;
        z-index: 10;
        background-color: transparent;


        &:focus {
            outline: none;
        }
    }

    ol {
        max-height: 20vh;
        overflow-y: auto;
        border-radius: var(--bs-border-radius);
        border: var(--bs-border-width) solid var(--bs-border-color);
        list-style: none;
        padding: 10px 0;
        margin: 3px 0 0;
        background-color: var(--bs-body-bg);
        position: absolute;
        z-index: 100;
        width: 100%;
        border-radius: 5px;

        li {
            padding: 10px 10px;
            cursor: pointer;

            &:hover {
                background-color: var(--hover);
            }
        }
    }

    .controls {
        display: flex;
        align-items: center;

        div {
            margin: var(--input-padding-v) 0;
            padding: 0 var(--input-padding-h);

            &:last-child {
                border-left: 1px solid var(--bs-body-color);
            }
        }
    }

    .cb-arrow {
        line-height: 24px;
        height: 100%;
    }
}