input.clearable {
    position: relative;

    svg.clear-input {
        position: absolute;
        right: 0.6rem;
        top: calc(1rem - 7px);
        fill: hsl(0, 0%, 80%);
    }

    input:focus + svg.clear-input {
        fill: hsl(0, 0%, 40%);
    }
}

input.form-control {
    padding: var(--input-padding-v) var(--input-padding-h);
}