@import "./fonts";

main>header {
    //background: radial-gradient(circle farthest-corner,var(--header-bright) 0, var(--header) 40%);
    background-color: var(--header);
    color: var(--header-text);
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--header-text);
    font-family: $secondary-fonts;

    height: var(--header-height);

    nav {
        display: flex;
        align-items: center;
        height: var(--header-height);
    }

    .logo {
        margin-right: 10px;
    }

    .container,
    .container-fluid {
        height: var(--header-height);
        display: flex;
        justify-content: space-between;

        &>div {
            display: flex;
            align-items: center;
        }
    }

    nav {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;
                border-right: 1px solid white;
                padding: 0 10px 0 8px;
            }

            li:last-child {
                border-right: none;
            }
        }

        a,
        button {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
        }

        button {
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0;
            font-size: 1em;
            cursor: pointer;
        }
    }
}
