.table th {
  background-color: var(--section-bg);
}

th {
  font-weight: 600;
}

td {
  vertical-align: middle;
}

.row-action {
  vertical-align: middle;
  text-align: center;

  svg {
    margin-right: 8px;

    &:last-child {
      padding-right: 0;
    }
  }
}
