$primary: #8b0000;
$border: 1px solid var(--bs-border-color);

:root {

  --bs-font-sans-serif: 'Inter', 'Franklin Gothic', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  --secondary-fonts: 'Open Sans Condensed';

  --page-header-background: #111;
  --page-header-text: #F6F6F6;
  
  --bs-body-color: rgb(46,41,36);
  --bs-body-colour: var(--bs-body-color);
  --body-colour-bold: #000;
  --body-colour-dim: rgb(76, 71, 66);

  --bs-secondary-color: rgb(36,32,27);
  
  --primary: #007bff;
  --bs-primary: var(--primary);
  --bs-primary-rgb: 0, 123, 255;
  
  --input-border: #666;
  --disabled: #999;

  --red: rgb(194,0,0);
  --amber: #FFBF00;
  --green: #5A5;

  --header-bg: #FFF;
  --section-bg: rgb(251, 248, 244);
  --breadcrumb-bg: var(--header-bg);
  --header-text: var(--bs-body-color);
  --footer-bg: var(--header-bg);
  --footer-text: var(--body-color);
  --hover: #E6E6E6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bs-body-bg: rgb(23, 18, 17);
    --bs-body-color: rgb(251, 248, 244);
    --body-colour-bold: #FFF;
    --body-colour-dim: rgb(221, 218, 214);

    --bs-secondary-color: rgb(151,148,144);
  
    --header-bg: rgb(31,27,24);
    --section-bg: rgb(31,27,24);

    --footer-bg: rgb(31,27,24);
    --hover: #6E6E6E;
    --bs-border-color: #575049;
  }
}

.light {
  --bs-body-bg: #FFF;
  --bs-body-color: rgb(46,41,36);
  --body-colour-bold: #000;
  --body-colour-dim: rgb(136, 131, 126);

  --bs-border-color: rgba(46,41,36,.12);

  --header-bg: #FFF;
  --breadcrumb-bg: var(--header-bg);
  --section-bg: rgb(251, 248, 244);

  --footer-bg: #FFF;
  --hover: #E6E6E6;
}

.red {
  @extend .light;
  --header-bg: #65000b;
  --footer-bg: #65000b;
  --breadcrumb-bg: #FFF;
  --header-text: #EEE;
  --footer-text: #EEE;
}

.dark {
  --bs-body-bg: rgb(23, 18, 17);
  --bs-body-color: #EEE;
  --body-colour-dim: rgb(221, 218, 214);
  --header-bg: rgb(31,27,24);
  --breadcrumb-bg:rgb(31,27,24);
  --section-bg: rgb(31,27,24);
  --header-text: #EEE;
  --footer-bg: #111;
  --footer-text: #EEE;
  --hover: #6E6E6E;
}