@import "./variables";

:root {

  --bs-font-sans-serif: #{$primary-fonts};
  --secondary-fonts: #{$secondary-fonts};

  --page-header-background: #111;
  --page-header-text: #F6F6F6;
  
  --background: #FFF;
  --color: #{$text-color};
  --bs-body-color: #{$text-color};
  --primary: #{$primary};
  --bs-primary: #{$primary};
  --bs-primary-rgb: 0, 123, 255;
  --input-border: #666;
  --disabled: #999;

  --red: #{$header};
  --amber: #FFBF00;
  --green: #5A5;

  --background: #FFF;
  --color: #{$text-color};
  --header: #{$header};
  --header-bright: #F00;
  --header-text: #FFF;
  --footer: #{$footer};
  --footer-text: #FFF;
  --hover: #E6E6E6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1F1F1F;
    --color: #EEE;
    --header: #620000;
    --header-bright: #800;
    --header-text: #EEE;
    --footer: #111;
    --footer-text: #EEE;
    --hover: #6E6E6E;
  }
}

.light {
  --background: #FFF;
  --color: #{$text-color};
  --header: #{$header};
  --header-bright: #F00;
  --header-text: #FFF;
  --footer: #{$footer};
  --footer-text: #FFF;
  --hover: #E6E6E6;
}

.dark {
  --background: #222;
  --color: #EEE;
  --header: #620000;
  --header-bright: #800;
  --header-text: #EEE;
  --footer: #111;
  --footer-text: #EEE;
  --hover: #6E6E6E;
}