:root {

  --bs-font-sans-serif: 'Open Sans', 'Franklin Gothic', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  --secondary-fonts: 'Open Sans Condensed';

  --page-header-background: #111;
  --page-header-text: #F6F6F6;
  
  --background: #FFF;

  --bs-body-color: rgb(33,33,33);
  
  --primary: #007bff;
  --bs-primary: var(--primary);
  --bs-primary-rgb: 0, 123, 255;
  
  --input-border: #666;
  --disabled: #999;

  --red: rgb(194,0,0);
  --amber: #FFBF00;
  --green: #5A5;

  --header: rgb(194,0,0);
  --header-bright: #F00;
  --header-text: #FFF;
  --footer: rgb(194,0,0);
  --footer-text: #FFF;
  --hover: #E6E6E6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1F1F1F;
    --color: #EEE;
    --header: #620000;
    --header-bright: #800;
    --header-text: #EEE;
    --footer: #111;
    --footer-text: #EEE;
    --hover: #6E6E6E;
  }
}

.light {
  --background: #FFF;
  --color: #{$text-color};
  --header: #{$header};
  --header-bright: #F00;
  --header-text: #FFF;
  --footer: #{$footer};
  --footer-text: #FFF;
  --hover: #E6E6E6;
}

.dark {
  --background: #222;
  --color: #EEE;
  --header: #620000;
  --header-bright: #800;
  --header-text: #EEE;
  --footer: #111;
  --footer-text: #EEE;
  --hover: #6E6E6E;
}