.table {
  --bs-table-striped-bg: var(--table-striped-bg);

  th {
    background-color: var(--section-bg);
    font-weight: 600;
  }


  td {
    vertical-align: middle;
  }

  .row-action {
    vertical-align: middle;
    text-align: center;

    svg {
      margin-right: 8px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}