:root, [data-bs-theme=light], [data-bs-theme=dark] {
  --bs-font-sans-serif: 'Inter', 'Franklin Gothic', Helvetica, 'Helvetica Neue', system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --secondary-fonts: 'Open Sans Condensed', 'Franklin Gothic', Helvetica, 'Helvetica Neue', nsystem-ui, -apple-system, "Segoe UI", Roboto Arial, sans-serif;

  --page-header-background: #111;
  --page-header-text: #F6F6F6;

  --bs-body-colour: var(--bs-body-color);

  --primary: #8b0000;
  --bs-primary: var(--primary);
  --bs-primary-rgb: 139, 0, 0;

  
  --input-border: #666;
  --disabled: #999;

  --red: rgb(194,0,0);
  --amber: #FFBF00;
  --green: #5A5;

  --breadcrumb-bg: var(--header-bg);
  --header-text: var(--bs-body-color);
  --footer-bg: var(--header-bg);
  --footer-text: var(--bs-body-color);

  --toastify-color-progress-light: var(--primary);
  --toastify-color-progress-dark: var(--primary);
}

@media (prefers-color-scheme: light) {
  :root {
    color-scheme: light;
    --bs-body-color: rgb(46,41,36);
    --body-colour-bold: #000;
    --body-colour-dim: rgb(76, 71, 66);

    --bs-secondary-color: rgb(36,32,27);

    --header-bg: #FFF;
    --section-bg: rgb(251, 248, 244);

    --hover: #E6E6E6;

    --breadcrumb-bg: var(--header-bg);
    --header-text: var(--bs-body-color);
    --footer-bg: var(--header-bg);
    --footer-text: var(--body-color);

    --bs-link-color: #8b0000;
    --bs-link-color-rgb: 139, 0, 0;
    --bs-link-decoration: underline;
    --bs-link-hover-color: rgb(111.2, 0, 0);
    --bs-link-hover-color-rgb: 111, 0, 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bs-body-bg: rgb(23, 18, 17);
    --bs-body-color: rgb(251, 248, 244);
    --body-colour-bold: rgb(251, 248, 244);
    --body-colour-dim: rgba(251, 248, 244, .65);

    --bs-secondary-color: rgb(151,148,144);

    --header-bg: rgb(31,27,24);
    --section-bg: rgb(31,27,24);

    --footer-bg: rgb(31,27,24);
    --hover: #6E6E6E;
    --bs-border-color: rgba(251, 248, 244, .1);

    --breadcrumb-bg: var(--header-bg);
    --header-text: var(--bs-body-color);
    --footer-bg: var(--header-bg);
    --footer-text: var(--bs-body-color);

    --bs-link-color: rgb(185.4, 102, 102);
    --bs-link-hover-color: rgb(199.32, 132.6, 132.6);
    --bs-link-color-rgb: 185, 102, 102;
    --bs-link-hover-color-rgb: 199, 133, 133;
    --bs-code-color: rgb(230.4, 132.6, 181.2);
  }

  body  {
    color-scheme: dark;
  }
}

.light, [data-bs-theme="light"] {
  color-scheme: light;
  --bs-body-bg: #FFF;
  --bs-body-color: rgb(46,41,36);
  --body-colour-bold: #000;
  --body-colour-dim: rgb(136, 131, 126);

  --bs-border-color: rgba(46,41,36,.12);

  --header-bg: #FFF;
  --header-text: var(--bs-body-color);
  --breadcrumb-bg: var(--header-bg);
  --section-bg: rgb(251, 248, 244);

  --footer-bg: #FFF;
  --footer-text: var(--bs-body-color);
  --hover: #E6E6E6;

  --bs-link-color: #8b0000;
  --bs-link-color-rgb: 139, 0, 0;
  --bs-link-decoration: underline;
  --bs-link-hover-color: rgb(111.2, 0, 0);
  --bs-link-hover-color-rgb: 111, 0, 0;
}

.red {
  color-scheme: light;
  --bs-body-bg: #FFF;
  --bs-body-color: rgb(46,41,36);
  --body-colour-bold: #000;
  --body-colour-dim: rgb(136, 131, 126);

  --bs-border-color: rgba(46,41,36,.12);

  --header-text: var(--bs-body-color);
  --section-bg: rgb(251, 248, 244);

  --hover: #E6E6E6;

  --header-bg: #65000b;
  --footer-bg: #65000b;
  --breadcrumb-bg: #FFF;
  --header-text: #EEE;
  --footer-text: #EEE;
}

.dark, [data-bs-theme="dark"] {
  color-scheme: dark;
  --bs-body-bg: rgb(23, 18, 17);
  --bs-body-color: rgb(251, 248, 244);
  --body-colour-bold: rgb(251, 248, 244);
  --body-colour-dim: rgba(251, 248, 244, .65);
  --bs-border-color: rgba(251, 248, 244, .15);
  --header-bg: rgb(31,27,24);
  --breadcrumb-bg:rgb(31,27,24);
  --section-bg: rgb(31,27,24);
  --footer-text: var(--bs-body-color);
  --footer-bg: #111;
  --footer-text: var(--bs-body-color);
  --hover: #6E6E6E;

  --bs-link-color: rgb(185.4, 102, 102);
  --bs-link-hover-color: rgb(199.32, 132.6, 132.6);
  --bs-link-color-rgb: 185, 102, 102;
  --bs-link-hover-color-rgb: 199, 133, 133;
  --bs-code-color: rgb(230.4, 132.6, 181.2);
}
