:root,
[data-bs-theme=light],
[data-bs-theme=dark] {
  --bs-font-sans-serif: 'Inter', 'Franklin Gothic', Helvetica, 'Helvetica Neue', system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
  --secondary-fonts: 'Open Sans Condensed', 'Franklin Gothic', Helvetica, 'Helvetica Neue', nsystem-ui, -apple-system, "Segoe UI", Roboto Arial, sans-serif;

  --page-header-background: #111;
  --page-header-text: #F6F6F6;

  --bs-body-colour: var(--bs-body-color);

  --primary-rgb: 139, 0, 0;
  --primary-dark: #6f0000;
  --bs-primary: var(--primary);
  --bs-primary-rgb: var(--primary-rgb);

  --input-border: #666;
  --disabled: #999;

  --red: rgb(194, 0, 0);
  --amber: #FFBF00;
  --green: #5A5;

  --breadcrumb-bg: var(--header-bg);
  --header-text: var(--bs-body-color);
  --footer-bg: var(--header-bg);
  --footer-text: var(--bs-body-color);

  --toastify-color-progress-light: var(--primary);
  --toastify-color-progress-dark: var(--primary);

  --nav-link-active: var(--primary);

  --input-padding-v: 0.75rem;
  --input-padding-h: 0.75rem;

  --dark-body-bg: rgb(23, 18, 17);
  --default-primary: #8b0000;
  --light-body-bg: #FFF;
  --light-section-bg: (251, 248, 244);
  --dark-section-bg: rgb(31, 27, 24);

  --btn-focus-shadow-rgb: 156, 38, 38;
}

@media (prefers-color-scheme: light) {
  :root {

    color-scheme: light;
    --primary: var(--default-primary);

    --bs-body-color: rgb(46, 41, 36);
    --body-colour-bold: #000;
    --body-colour-dim: rgb(76, 71, 66);

    --bs-secondary-color: rgb(36, 32, 27);

    --header-bg: #FFF;
    --section-bg: rgb(251, 248, 244);
    --sidebar-bg: #FFF;

    --hover: #E6E6E6;

    --breadcrumb-bg: var(--header-bg);
    --header-text: var(--bs-body-color);
    --footer-bg: var(--header-bg);
    --footer-text: var(--body-color);

    --bs-link-color: var(--primary);
    --bs-link-color-rgb: 139, 0, 0;
    --bs-link-decoration: underline;
    --bs-link-hover-color: rgb(111.2, 0, 0);
    --bs-link-hover-color-rgb: 111, 0, 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --primary: var(--default-primary);

    --bs-body-bg: rgb(23, 18, 17);
    --bs-body-color: rgb(211, 208, 204);
    --body-colour-bold: rgb(251, 248, 244);
    --body-colour-dim: rgba(251, 248, 244, .65);

    --bs-secondary-color: rgb(151, 148, 144);

    --base-bg: rgb(31, 27, 24);
    --header-bg: var(--base-bg);
    --section-bg: var(--base-bg);
    --sidebar-bg: var(--base-bg);
    --footer-bg: var(--base-bg);
    --breadcrumb-bg: var(--base-bg);

    --hover: #6E6E6E;
    --bs-border-color: rgba(251, 248, 244, .1);

    --header-text: var(--bs-body-color);
    --footer-text: var(--bs-body-color);

    --bs-link-color: rgb(185.4, 102, 102);
    --bs-link-hover-color: rgb(199.32, 132.6, 132.6);
    --bs-link-color-rgb: 185, 102, 102;
    --bs-link-hover-color-rgb: 199, 133, 133;
    --bs-code-color: rgb(230.4, 132.6, 181.2);
  }

  body {
    color-scheme: dark;
  }
}

.light,
[data-bs-theme="light"] {
  color-scheme: light;
  --primary: var(--default-primary);

  --bs-body-bg: #FFF;
  --bs-body-color: rgb(46, 41, 36);
  --body-colour-bold: #000;
  --body-colour-dim: rgb(136, 131, 126);

  --bs-border-color: rgba(46, 41, 36, .12);

  --header-bg: #FFF;
  --header-text: var(--bs-body-color);
  --breadcrumb-bg: var(--header-bg);
  --section-bg: rgb(251, 248, 244);
  --sidebar-bg: var(--bs-body-bg);

  --footer-bg: #FFF;
  --footer-text: var(--bs-body-color);
  --hover: #E6E6E6;

  --bs-link-color: #8b0000;
  --bs-link-color-rgb: 139, 0, 0;
  --bs-link-decoration: underline;
  --bs-link-hover-color: rgb(111.2, 0, 0);
  --bs-link-hover-color-rgb: 111, 0, 0;

  --table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.04);

  --popover-bg: var(--bs-body-bg);
  --popover-header-bg: var(--bs-body-bg);
  --popover-border-color: #f0f0f0;
  --popover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.08);

}

.light.red {

  --header-bg: #65000b;
  --footer-bg: #65000b;
  --header-text: #EEE;
  --footer-text: #EEE;

  --breadcrumb-bg: var(--section-bg);
}

.dark.blue {

  --primary: #2F5FAD;
  --primary-rgb: 47, 95, 173;
  --primary-dark: #2F4C84;
  --table-striped-bg: rgba(150, 150, 255, 0.03);
  /* --bs-emphasis-color: #9696FF; */
  --bs-link-color: rgb(102, 102, 185.4);
  --bs-link-hover-color: rgb(132.6, 132.6, 199.32);
  --base-bg: rgb(27, 27, 29);
  --btn-focus-shadow-rgb: 38, 38, 156;
}

.dark,
[data-bs-theme="dark"] {
  color-scheme: dark;
  --primary: var(--default-primary);

  --bs-body-bg: rgb(23, 18, 17);
  --bs-body-color: rgb(211, 208, 204);
  --bs-secondary-color: rgb(151, 148, 144);
  --bs-emphasis-color: rgb(211, 208, 204);
  --body-color-bold: rgb(211, 208, 204);
  --body-colour-dim: rgba(211, 208, 204, .65);
  --bs-border-color: rgba(211, 208, 204, .15);

  --base-bg: rgb(31, 27, 24);
  --header-bg: var(--base-bg);
  --section-bg: var(--base-bg);
  --sidebar-bg: var(--base-bg);
  --footer-bg: var(--base-bg);
  --breadcrumb-bg: var(--base-bg);

  --footer-text: var(--bs-body-color);
  --hover: #6E6E6E;

  --bs-link-color: rgb(185.4, 102, 102);
  --bs-link-hover-color: rgb(199.32, 132.6, 132.6);
  --bs-link-color-rgb: 185, 102, 102;
  --bs-link-hover-color-rgb: 199, 133, 133;
  --bs-code-color: rgb(230.4, 132.6, 181.2);

  --table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.02);

  --popover-bg: #1A1A1A;
  --popover-header-bg: #1A1A1A;
  --popover-border-color: #333;
  --popover-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);

}
