.sidebar {
    grid-area: sidebar;

    height: 100%;
    width: 200px;
    /* Set explicit width instead of 100% */
    min-width: 200px;
    /* Set initial min-width */
    background-color: var(--sidebar-bg);
    font-family: var(--font-family-alt);

    border-right: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    transition: width 350ms ease-in-out, min-width 350ms ease-in-out;

    &.collapsed {
        width: 50px;
        min-width: 50px;
        align-content: center;
        padding-right: 0;

        .sidebar-collapse svg {
            rotate: 180deg;
        }

        .nav-link span {
            opacity: 0;
        }
    }

    .nav-link {
        white-space: nowrap;

        display: flex;
        align-items: center;
        gap: 8px;

        color: var(--secondary-color);

        span {
            transition: opacity 350ms ease-in-out;
        }

        &:visited {
            color: var(--secondary-color);
        }

        &:hover {
            text-decoration: underline;
        }

        &:hover,
        &.active {
            color: var(--body-color);

            svg {
                stroke: var(--body-color);
                fill: var(--body-color);
            }
        }

        &.active::before {
            position: absolute;
            margin-left: -10px;
            content: "";
            background-color: var(--nav-link-active);
            width: 5px;
            height: 1.5rem;
            border-radius: 4px;
        }

        svg {
            stroke: var(--body-color);
            fill: var(--body-color);
            height: 1.5rem;
            width: 1.5rem;
        }

        img {
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    .divider {
        border-top: 1px solid var(--border-color);
    }
}
