.avatar {
    img {
        height: var(--user-image, 40px);
        width: var(--user-image, 40px);
        border-radius: var(--user-radius, 20px);
        cursor: pointer;
    }

    .initials {
        height: var(--user-image);
        width: var(--user-image);
        border-radius: var(--user-radius);
        border: 1px solid var(--body-color);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        white-space: nowrap;
        font-size: 0.8rem;
    }
}