.btn svg {
    stroke: var(--btn-color);
    fill: var(--btn-color);
}

.btn.btn-icon div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn svg.custom-icon,
.btn img.custom-icon {
    height: 18px;
    width: 18px;
}