.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .spinner-border {
        --spinner-width: 3rem;
        --spinner-height: 3rem;
    }
}
