input {
    font-family: var(--primary-fonts);
}

.clearable-input {
    position: relative;

    svg.clear-input {
        position: absolute;
        right: 0.6rem;
        top: 50%;
        transform: translateY(-50%);
        fill: var(bs-body-color);
    }

    input:focus + svg.clear-input {
        fill: hsl(0, 0%, 40%);
    }
}

input.form-control {
    padding: var(--input-padding-v) var(--input-padding-h);
    border: 1px solid var(--bs-border-color);
}