.btn svg {
stroke: var(--bs-btn-color);
fill: var(--bs-btn-color);
}

.btn.btn-icon div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn svg.custom-icon {
    height: 18px;
    width: 18px;
}
