html, body, #root, .app-container {
  height: 100%;
}

.app-container {
  display: grid;

  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 80px 1fr 40px;

  grid-template-areas:
    "alerts alerts"
    "header header"
    "sidebar main"
    "footer footer";


  &.moo-default {
      --header-height: 80px;
      --footer-height: 80px;
      --foter-text-size: 1rem;
      --user-image: 60px;
      --user-radius: 30px;
      --h1-size: 2rem;
      --h2-size: 2rem;
  }

  &.moo-small {
      --header-height: 40px;
      --footer-height: 40px;
      --footer-text-size: 1rem;
      --user-image: 24px;
      --user-radius: 12px;
      --h1-size: 1.4rem;
      --h2-size: 1.4rem;

  }  

  @include media-breakpoint-down(lg) {
      grid-template-areas: 
      "header header"
      "main main";

      grid-template-columns: 1fr;
      grid-template-rows: 80px 1fr;
  }
}

