.sidebar {

    grid-area: sidebar;

    height: 100%;
    background-color: var(--panel-bg);
    color: white !important;
    font-family: var(--font-family-alt);

    border-right: $border;

    .nav-link {

        display: flex;
        align-items: center;
        gap: 8px;

        color: var(--body-colour-dim);

        &:visited {
            color: var(--body-colour-dim);
        }

        &:hover {
            text-decoration: underline;
        }

        &:hover,
        &.active {
            color: var(--body-colour-bold);

            svg {
                stroke: var(--body-colour-bold);
                fill: var(--body-colour-bold);
            }
        }

        &.active::before {
            position: absolute;
            margin-left: -10px;
            content: '';
            background-color: #8b0000;
            width: 5px;
            height: 20px;
            border-radius: 4px;
        }

        svg {
            stroke: var(--bs-body-color);
            fill: var(--bs-body-color);
            height: 24px;
            width: 24px;
        }
    }

    .divider {
        border-top: $border;
    }
}