.sidebar {

    grid-area: sidebar;

    height: 100%;
    width: 100%;
    background-color: var(--section-bg);
    font-family: var(--font-family-alt);

    border-right: $border;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    .sidebar-collapse {
        border-top: $border;
        height: 3rem;
        padding-right: 17px;
        display: flex;
        align-content: flex-end;
        align-items: center;
        justify-content: end;
        line-height: 3rem;
        padding-right: 15px;

        svg {
            height: 1.2rem;
            width: 1.2rem;
            transition: rotate 250ms ease-in-out;
        }
    }

    transition: width 350ms ease-in-out;

    .nav-link span {
        transition: opacity 100ms linear;
    }


    &.collapsed {
        width: 55px;
        align-content: center;
        padding-right: 0;

        .sidebar-collapse svg {
            rotate: 180deg;
        }

        .nav-link span {
            opacity: 0;
        }
    }

    .nav-link {

        white-space: nowrap;

        display: flex;
        align-items: center;
        gap: 8px;

        color: var(--bs-secondary-color);

        &:visited {
            color: var(--bs-secondary-color);
        }

        &:hover {
            text-decoration: underline;
        }

        &:hover,
        &.active {
            color: var(--bs-body-color);

            svg {
                stroke: var(--bs-body-color);
                fill: var(--bs-body-color);
            }
        }

        &.active::before {
            position: absolute;
            margin-left: -10px;
            content: '';
            background-color: #8b0000;
            width: 5px;
            height: 1.5rem;
            border-radius: 4px;
        }

        svg {
            stroke: var(--bs-body-color);
            fill: var(--bs-body-color);
            height: 1.5rem;
            width: 1.5rem;
        }
    }

    .divider {
        border-top: $border;
    }
}