.combo-box {
    position: relative;

    input {
        width: 100%;
        background-repeat: no-repeat;
        background-position-y: 50%;
        background-position-x: calc(100% - 12px);
        background-size: 16px 12px;
        background-color: var(--bs-body-bg);
        background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
        color: currentColor;
    }

    ol {
        list-style: none;
        padding: 10px 0;
        margin: 3px 0 0;
        background-color: var(--bs-body-bg);
        position: absolute;
        width: 100%;
        border-radius: 5px;
        font-size: 0.7rem;

        li {
            padding: 2px 10px;
            cursor: pointer;
            &:hover {
                background-color: var(--hover);
            }
        }
    }
}

@media (prefers-color-scheme: dark) {
    .combo-box input {
        background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23ced4da%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e")
    }
}

.dark {
    .combo-box input {
        background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23ced4da%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e")
    }
}

.light {
    .combo-box input {
        background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23343a40%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e")
    }
}