.react-select {
    font-family: var(--font-family-alt);
    font-weight: normal;

    &.readonly {

        .react-select__control {
            background-color: transparent;
        }
        .react-select__value-container {
            padding: 2px 9px;
        }
    }

    .react-select__control,
    .react-select__menu {
        background-color: var(--bs-body-bg);
        color: var(--bs-body-color);
    }

    .react-select__value-container {
        gap: 8px;
    }

    .react-select__single-value {
        color: var(--bs-body-color);
    }

    .react-select__input-container {
        color: var(--bs-body-color);
    }

    .react-select__option--is-focused {
        background-color: var(--hover);
    }

    .react-select__option--is-selected {
        background-color: rgba(var(--bs-primary-rgb), 1);
    }

    .react-select__control--is-focused {
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    }

    .react-select__multi-value {
        @extend .badge;
        @extend .rounded-pill;
        @extend .bg-primary;
        display: flex;
        align-items: center;
        margin: 0;
    }

    .react-select__multi-value__label {
        color: #FFF;
        font-family: var(--bs-body-font-family);
        padding: 0;
        font-size: 100%;
        overflow: unset;
    }

    .react-select__multi-value__remove {
        padding: 0;
        margin-left: 4px;
        background-color: #FFF;
        border-radius: 800px;
        height: 12px;
        width: 12px;
        ;

        svg {
            fill: rgba(var(--bs-primary-rgb), 1) !important;
            stroke: rgba(var(--bs-primary-rgb), 1) !important;
        }

    }
}