@scope(.app-container > footer) {

  :scope {
    grid-area: footer;

    width: 100%;
    background: var(--footer-bg);
    text-align: center;
    color: var(--footer-text);
    letter-spacing: 0.3px;
    border-top: 1px solid var(--bs-border-color);
    font-weight: 200;

    height: var(--footer-height);
    min-height: var(--footer-height);
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-size: var(--footer-text-size);
  }

  a {
    color: var(--footer-text);
    font-weight: 400;
  }

  @media screen and (max-width: 768px) {
    ul {
      width: 90%;
      height: 100%;
      margin: 0 auto;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    li {
      padding: 0 5px;
    }
  }
}
