.btn.btn-hamburger {
    padding: 0;

    outline: none!important;
    border: none!important;
    color: var(--body-colour-dim);

    &:focus, &:active, &:focus-visible {
        outline: none;
        border: none;
    }

    svg {
        width:24px;
        height:24px;
    }
}
