main.dashboard {
    .dashboard-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px;
        grid-auto-flow: dense;
        gap: 1.5rem;

        > div {
            display: flex;
            flex-direction: column;
            overflow: hidden;

            &.double {
                grid-row: span 2;
            }
        }

        @media (max-width: 1399.98px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 991.98px) {
            grid-template-columns: 1fr;
        }
    }

    .section {
        flex: 1;
        min-height: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        > *:not(.section-header) {
            flex: 1;
            min-height: 0;
            overflow: hidden;
        }
    }
}
