article {

    flex: 1 0 auto;
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);

    &>header {
        background-color: var(--page-header-background);
        color: var(--page-header-text);
        
        h2 {
            font-size: var(--h2-size);
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        button {
            font-size: 1.4rem;
        }

        .buttons {
            display: flex;
            gap: 10px;
        
            svg {
                display: block;
            }
        }  
    }
}
