.nav-tabs {
    border-bottom: 1px solid var(--bs-border-color);
    gap: 1.5rem;

    .nav-link {
        border: none;
        border-bottom: 2px solid transparent;
        background: transparent;
        color: var(--bs-secondary-color);
        padding: 0.5rem 0;
        transition: color 0.15s, border-color 0.15s;

        &:hover {
            border-color: var(--bs-secondary-color);
            color: var(--bs-body-color);
        }

        &.active {
            background: transparent;
            border-color: var(--bs-primary);
            color: var(--bs-body-color);
        }
    }
}
