.table {
  --bs-table-bg: var(--table-bg);
  --bs-table-striped-bg: var(--table-striped-bg);

  th {
    background-color: var(--section-bg);
    font-weight: 600;
  }

  tfoot td {
    background-color: var(--section-bg);
  }


  td {
    vertical-align: middle;
    height: 4rem;
  }

  td.icon,
  th.icon {
    width: 1rem;
    text-align: center;
  }

  .row-action {
    vertical-align: middle;
    text-align: center;

    svg {
      margin-right: 8px;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .group-row {
    height: 1rem;
    font-size: 0.8rem;

    &:hover {
      box-shadow: none;
    }

    td {
      background-color: var(--section-bg);
      height: 1rem;
      text-transform: uppercase;

      &:hover {
        box-shadow: none;
      }
    }
  }

  .column-5 {
    width: 5%
  }

  .column-10 {
    width: 10%
  }

  .column-15 {
    width: 15%
  }

  .column-20 {
    width: 20%
  }

  .column-25 {
    width: 25%
  }

  .column-30 {
    width: 30%
  }

  .column-35 {
    width: 35%
  }

  .column-40 {
    width: 40%
  }

  .column-45 {
    width: 45%
  }

  .column-50 {
    width: 50%
  }

  .column-55 {
    width: 55%
  }

  .column-60 {
    width: 60%
  }

  .column-65 {
    width: 65%
  }

  .column-70 {
    width: 70%
  }

  .column-75 {
    width: 75%
  }

  .column-80 {
    width: 80%
  }

  .column-85 {
    width: 85%
  }

  .column-90 {
    width: 90%
  }

  .column-95 {
    width: 95%
  }

  .column-100 {
    width: 100%
  }
}