.table {
  --bs-table-bg: var(--table-bg);
  --bs-table-striped-bg: var(--table-striped-bg);

  th {
    background-color: var(--section-bg);
    font-weight: 600;
  }

  tfoot td {
    background-color: var(--section-bg);
  }


  td {
    vertical-align: middle;
    height: 4rem;
  }

  td.icon, th.icon {
    width: 1rem;
    text-align: center;
  }

  .row-action {
    vertical-align: middle;
    text-align: center;

    svg {
      margin-right: 8px;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .group-row {
    height: 1rem;
    font-size: 0.8rem;

      &:hover {
        box-shadow: none;
      }

    td {
      background-color: var(--section-bg);
      height: 1rem;
      text-transform: uppercase;

      &:hover {
        box-shadow: none;
      }
    }
  }
}
