.user-popover {

    box-shadow: var(--bs-popover-box-shadow);
    --bs-popover-bg: var(--bs-body-bg);
    --bs-popover-body-color: var(--bs-body-color);
    --bs-popover-header-color: var(--bs-body-color);
    --bs-popover-border-color: #f0f0f0;
    --bs-popover-font-size: 1rem;
    --bs-popover-header-font-size: 1.3rem;

    .popover-header {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    li {
        display: flex;
        justify-content: left;
        align-items: center;
        gap: .75rem;

        &.divider{
            border-top: 2px solid var(--bs-border-color);
            margin: 1rem 0;
        }
    }

    a.nav-link {
        display: flex;
        gap: 1rem;
    }

    .avatar {

        img,
        .initials {

            height: 40px;
            width: 40px;
            border-radius: 20px;
        }

        .initials {
            border: 1px solid var(--bs-body-color);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.popover {
    --bs-popover-bg: var(--popover-bg);
    --bs-popover-header-bg: var(--popover-header-bg);
    --bs-popover-border-color: var(--popover-border-color);
    --bs-popover-box-shadow: var(--popover-box-shadow);
}
