.danger, .text-danger {
    color: var(--danger);
}

.warning, .text-warning {
    color: var(--warning);
}

.success, .text-success {
    color: var(--success);
}

.text-muted {
    color: var(--secondary-color);
}

.text-primary {
    color: var(--primary);
}