name: Build and Publish
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:
jobs:
  build:
    name: Build and Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - uses: gittools/actions/gitversion/setup@v4.2.0
      with:
        versionSpec: '6.x'
    - id: gitversion
      uses: gittools/actions/gitversion/execute@v4.2.0
      with:
        useConfigFile: true
    - run: echo "::notice::Version ${{ steps.gitversion.outputs.semVer }} (Full ${{ steps.gitversion.outputs.fullSemVer }})"
    - uses: actions/setup-node@v6
      with:
        node-version: 22
        cache: npm
        cache-dependency-path: 'package-lock.json'
        registry-url: "https://npm.pkg.github.com"
    - run: npm ci --no-scripts
    - run: npm version ${{ steps.gitversion.outputs.semVer }} --no-git-tag-version --workspaces
    - run: npm run test:run
    - run: npm run build --workspaces
    - if: github.ref == 'refs/heads/main'
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: npm publish --workspaces
